body,
.main-container {
  font-family: Verdana, sans-serif;
  color: white;
  font-weight: bold;
  top: 0;
  left: 0;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  min-width: 100vw;
  transition: 100ms;
  background-color: rgb(0, 134, 184);
  margin: 0;
  padding: 0;
}

div {
  transition: 100ms;
}

.main-container {
  position: fixed;
}

.hidden .main-container {
  display: none;
}

.level-indicator {
  position: absolute;
  top: 0;
  left: 0;
  padding: 16px;
}

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  font-size: 24px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%; /*whatever width you want*/
}

.logo {
  fill: #ff9d00;
  width: 250px;
  margin: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  animation-name: logoglow;
  animation-duration: 40s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
}

.logo svg {
  overflow: visible;
}

@keyframes logoglow {
    10% {
      fill: #00e2cc;
    }

    20% {
      fill: #e984ef;
    }

    40% {
      fill: #ff9d00;
    }

    50% {
      fill: #b820ff;
    }

    60% {
      fill: #f2da00;
    }

    70% {
      fill: #ff402c;
    }

    80% {
      fill: #65c949;
    }
}

.select-game button {
  margin: 8px 8px 0 0;
}

.select-game button:last-child {
  margin: 8px 0 0 0;
}

.menu-button {
  position: fixed;
  top: 16px;
  right: 16px;
  padding: 16px;
  cursor: pointer;
  z-index: 5;
}

.menu-button:hover,
.menu-button:active,
.menu-button:focus {
  outline: none;
  opacity: 0.6;
}

.menu-button div {
  width: 25px;
  height: 5px;
  margin-bottom: 5px;
  background-color: white;
  border-radius: 2.5px;
}

.name-field {
  position: relative;
}

button.remove-player-button {
  margin: 10px 0 0 8px;
}

button.add-player-button {
  margin-top: 8px;
}

.select-game {
  margin-bottom: 30px;
}

.select-game-header {
  font-weight: bold;
}

.header {
  position: relative;
}

b {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 4px;
  border-radius: 6px;
}

.challenge.inner {
  line-height: 38px;
}

div.text-field {
  margin-top: 8px;
}

.fancy-background {
  position: fixed;
  width: 100%;
  min-height: 100%;
}

.fancy-background polygon {
  transform-origin: 0 60%;
  transform: scale(0);
  animation-duration: 600ms;
  animation-name: star-expand;
  animation-timing-function: cubic-bezier(1.000, 0, 0.990, 0.325);
  animation-fill-mode: forwards;
}

.fancy-background polygon:nth-child(1) {
  animation-delay: 150ms;
}

.fancy-background polygon:nth-child(2) {
  animation-delay: 300ms;
}

.fancy-background polygon:nth-child(3) {
  animation-delay: 450ms;
}

.fancy-background polygon:nth-child(4) {
  animation-delay: 600ms;
}

.fancy-background polygon:nth-child(5) {
  animation-delay: 750ms;
}

.fancy-background polygon:nth-child(6) {
  animation-delay: 900ms;
}

.fancy-background polygon:nth-child(7) {
  animation-delay: 1050ms;
}

.fancy-background polygon:nth-child(8) {
  animation-delay: 1200ms;
}

.fancy-background polygon:nth-child(9) {
  animation-delay: 1350ms;
}

@keyframes star-expand {
    0% {
      transform: scale(0);
    }

    100% {
      transform: scale(20);
    }
}

.input-container {
  opacity: 0;
  animation-delay: 3s;
  animation-duration: 600ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-name: fade-in;
}

.logo svg {
  opacity: 0;
  animation-delay: 2.5s;
  animation-duration: 600ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-name: fade-in;
}

@keyframes fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
}
