body,
.main-container {
  font-family: Verdana, sans-serif;
  color: white;
  font-weight: bold;
  top: 0;
  left: 0;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  min-width: 100vw;
  background-image: url('./assets/background.svg');
  background-color: #ff9d00;
  transition: 100ms;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

div {
  transition: 100ms;
}

.main-container {
  position: fixed;
}

.hidden .main-container {
  display: none;
}

.level-indicator {
  position: absolute;
  top: 0;
  left: 0;
  padding: 16px;
}

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  font-size: 24px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%; /*whatever width you want*/
}

.logo {
  fill: #0086B8;
  width: 250px;
  margin: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  animation-name: logoglow;
  animation-duration: 70s;
  animation-iteration-count: infinite;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke: #E984EF;
  stroke-width: 30px;
}

.logo svg {
  overflow: visible;
}

@keyframes logoglow {
    0% {
      stroke-width: 30px;
      fill: #0086B8;
      stroke: #E984EF;
    }

    10% {
      fill: #65C949;
      stroke: #0086B8;
    }

    20% {
      stroke-width: 10px;
      fill: #FF402C;
      stroke: #65C949;
    }

    30% {
      fill: #F2DA00;
      stroke: #FF402C;
    }

    40% {
      fill: #B820FF;
      stroke: #F2DA00;
    }

    50% {
      stroke-width: 30px;
      fill: #FF9D00;
      stroke: #B820FF;
    }

    60% {
      fill: #00B2FF;
      stroke: #FF9D00;
    }

    70% {
      stroke-width: 10px;
      fill: #E984EF;
      stroke: #00B2FF;
    }

    80% {
      fill: #00E2CC;
      stroke: #fff;
    }

    90% {
      fill: #fff;
      stroke: #00E2CC;
    }
}

.select-game button {
  margin: 8px 8px 0 0;
}

.select-game button:last-child {
  margin: 8px 0 0 0;
}

.menu-button {
  position: fixed;
  top: 16px;
  right: 16px;
  padding: 16px;
  cursor: pointer;
  z-index: 5;
}

.menu-button:hover,
.menu-button:active,
.menu-button:focus {
  outline: none;
  opacity: 0.6;
}

.menu-button div {
  width: 25px;
  height: 5px;
  margin-bottom: 5px;
  background-color: white;
  border-radius: 2.5px;
}

.input-container {
  width: 350px;
  margin: 8px auto;
  display: block;
}

.name-field {
  position: relative;
}

button.remove-player-button {
  margin: 10px 0 0 8px;
}

button.add-player-button {
  margin-top: 8px;
}

.select-game {
  margin-bottom: 30px;
}

.select-game-header {
  color: white;
  font-weight: bold;
}

b {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 4px;
  border-radius: 6px;
}

.challenge.inner {
  line-height: 38px;
}

div.text-field {
  margin-top: 8px;
}
